<h1>New menu</h1>
<%= form_for @menu do |f| %>
	<%= f.hidden_field :restaurant, :value => @restaurant.name %>
	<div>
	<%= f.label :name %>
	<%= f.text_field :name %>
	</div>
	<div>
	<%= f.submit :submit %>
	</div>
<% end %>